@import url('../fonts/gotham.css');
*{
    font-family: 'Gotham-Book', sans-serif, Helvetica, Arial;
}
body{
    background-image: url('../images/landing-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 70vh; */
}

header {
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 100vh; */
    display: block;
    width: 100%;
}
.img-responsive {
    width: 100%;
}
p.landing-text{
    font-size: 1.4em;
    font-weight: 400;

}
p.landing-text-2{
    font-size: 1.4em;
   
}


.productCard{
    /* width: 15rem; */
    background-color: transparent !important;
    border: 1px solid transparent !important;
   
}

li.list-group-item >a {
    color: #5d148a;
    /* font-family: 'Gotham-Medium'; */
    font-weight: 500;
}

.productCard .card-header {
    border: 5px solid #fff;
    -webkit-box-shadow: -1px 14px 14px -3px rgba(198,198,198,1);
-moz-box-shadow: -1px 14px 14px -3px rgba(198,198,198,1);
box-shadow: -1px 14px 14px -3px rgba(198,198,198,1);
    border-radius: 10px !important ;
    color: #fff;
    font-size: 1.4em;
    font-weight: 700;
   
}



.productCard .card-header.card-header-1 {
    border: 5px solid #fff;
    -webkit-box-shadow: -1px 14px 14px -3px rgba(198,198,198,1);
-moz-box-shadow: -1px 14px 14px -3px rgba(198,198,198,1);
box-shadow: -1px 14px 14px -3px rgba(198,198,198,1);
    border-radius: 10px !important ;
    color: #fff;
    font-size: 1.4em;
    font-weight: 700;
    background: rgba(233,117,65,1);
    background: -moz-linear-gradient(45deg, rgba(233,117,65,1) 0%, rgba(204,59,129,1) 50%, rgba(194,35,161,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(233,117,65,1)), color-stop(50%, rgba(204,59,129,1)), color-stop(100%, rgba(194,35,161,1)));
    background: -webkit-linear-gradient(45deg, rgba(233,117,65,1) 0%, rgba(204,59,129,1) 50%, rgba(194,35,161,1) 100%);
    background: -o-linear-gradient(45deg, rgba(233,117,65,1) 0%, rgba(204,59,129,1) 50%, rgba(194,35,161,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(233,117,65,1) 0%, rgba(204,59,129,1) 50%, rgba(194,35,161,1) 100%);
    background: linear-gradient(45deg, rgba(233,117,65,1) 0%, rgba(204,59,129,1) 50%, rgba(194,35,161,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e97541', endColorstr='#c223a1', GradientType=1 );
}
.productCard .card-header.card-header-2{
    background: rgba(194,35,162,1);
background: -moz-linear-gradient(45deg, rgba(194,35,162,1) 0%, rgba(143,28,149,1) 50%, rgba(93,20,138,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(194,35,162,1)), color-stop(50%, rgba(143,28,149,1)), color-stop(100%, rgba(93,20,138,1)));
background: -webkit-linear-gradient(45deg, rgba(194,35,162,1) 0%, rgba(143,28,149,1) 50%, rgba(93,20,138,1) 100%);
background: -o-linear-gradient(45deg, rgba(194,35,162,1) 0%, rgba(143,28,149,1) 50%, rgba(93,20,138,1) 100%);
background: -ms-linear-gradient(45deg, rgba(194,35,162,1) 0%, rgba(143,28,149,1) 50%, rgba(93,20,138,1) 100%);
background: linear-gradient(45deg, rgba(194,35,162,1) 0%, rgba(143,28,149,1) 50%, rgba(93,20,138,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c223a2', endColorstr='#5d148a', GradientType=1 );
}

.productCard .card-header.card-header-3{
    background: rgba(92,20,137,1);
background: -moz-linear-gradient(45deg, rgba(92,20,137,1) 0%, rgba(80,18,118,1) 50%, rgba(67,16,97,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(92,20,137,1)), color-stop(50%, rgba(80,18,118,1)), color-stop(100%, rgba(67,16,97,1)));
background: -webkit-linear-gradient(45deg, rgba(92,20,137,1) 0%, rgba(80,18,118,1) 50%, rgba(67,16,97,1) 100%);
background: -o-linear-gradient(45deg, rgba(92,20,137,1) 0%, rgba(80,18,118,1) 50%, rgba(67,16,97,1) 100%);
background: -ms-linear-gradient(45deg, rgba(92,20,137,1) 0%, rgba(80,18,118,1) 50%, rgba(67,16,97,1) 100%);
background: linear-gradient(45deg, rgba(92,20,137,1) 0%, rgba(80,18,118,1) 50%, rgba(67,16,97,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c1489', endColorstr='#431061', GradientType=1 );
}


.productCard li, .productCard ul{
   background-color:  transparent;
   border: 2px dotted #a1a1a1;
   border-top-color: transparent;
}


@media only screen and (min-width: 992px){
    .productCard{
        width: 19rem;
        /* background-color: transparent !important; */
       
    }
    header{
        margin-top: -13em;
    }
}

@media only screen and (min-width: 533px){
    header{
        margin-top: -8em;
    }
}

